<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Repository" type="SharpRepositoryLib.RepositorySectionHandler,SharpRepositoryLib.Core" />
		<section name="DbSchema" type="SharpDbSchema.DbSchemaSectionHandler,SharpDbSchema.Core" />
		<section name="DevCenter" type="SharpDevCenter.ProjectsSectionHandler,SharpDevCenter" />
	</configSections>

	<!-- Supported Source Repositories -->   
	<Repository Refresh="300">
		<RepositoryType Name="CVS" Type="SharpRepositoryLib.CVS.CVSRepository, SharpRepositoryLib.CVS" />
		<RepositoryType Name="SVN" Type="SharpRepositoryLib.Subversion.SVNRepository, SharpRepositoryLib.SVN" />
		<RepositoryType Name="Workspace" Type="SharpRepositoryLib.Workspaces.WorkspaceRepository, SharpRepositoryLib.Workspaces" />
	</Repository>
	
	<!-- Supported Schema Providers -->
	<DbSchema>
		<SchemaProvider Name="SqlServer" Type="SharpDbSchema.SqlServer.SqlServerSchemaProvider, SharpDbSchema.SqlServer"/>
		<SchemaProvider Name="MySql" Type="SharpDbSchema.MySql.MySqlSchemaProvider, SharpDbSchema.MySql"/>
	</DbSchema>
	
	<DevCenter Default="DevCenter Sample">		
		<!-- Sharp DevCenter Project -->
		<Project Name="DevCenter Sample">
			<Details
				FullName="Sharp DevCenter Project Sample"
				Description="Samples for Development Portal providing source repository, builds, and database schema viewing"
			/>
			<Repository 
				Type="SVN"
				Connection="uri=http://svn.plone.org/plone/CMFPlone/trunk/"
			/>
			<ClassBrowser AssemblyPath="C:\Inetpub\wwwroot\devcenter\data\Assembly-Cache\SharpDevCenter">
				<Namespace name="SharpRepositoryLib"/>
				<Namespace name="SharpDevCenter"/>
				<Namespace name="SharpDbSchema"/>
			</ClassBrowser>
			<Database
				Name="Northwind"
				Type="SqlServer"
				Connection="server=localhost;database=Northwind;uid=sa;pwd=slhwch312"
			/>
			<Database
				Name="Pubs"
				Type="SqlServer"
				Connection="server=localhost;database=pubs;uid=sa;pwd=slhwch312"
			/>
			<Database
				Name="Test"
				Type="MySql"
				Connection="server=127.0.0.1;Database=test;User ID=root;Password=slhwch312"
			/>
			<Links Category="Quick Links">
				<Link Name=".NET Powered Home Page" Url="http://www.dotnetpowered.com"/>
			</Links>
			<Documentation
				Name="Help Sample"
				RelativeBasePath="data/WebHelp_CSH/WebHelp"
				TOCPath="whxdata/whtdata0.xml"
				Kind="RoboHelp"
			/>
		</Project>
		<!-- NAnt Project -->
		<Project Name="NAnt">
			<Details 
				FullName="NAnt"
				Description="NAnt is a free .NET build tool"
				/>
			<Links Category="Quick Links">
				<Link Name="Home Page" Url="http://nant.sourceforge.net"/>
				<Link Name="SourceForge Project Page" Url="http://sourceforge.net/projects/nant/"/>
			</Links>
			<Repository 
				Type="CVS"
				Connection="cvsroot=:pserver:anonymous@cvs.sourceforge.net:/cvsroot/nant;module=nant"
			/>
			<ClassBrowser AssemblyPath="C:\Inetpub\wwwroot\devcenter\data\Assembly-Cache\NAnt">
				<Namespace name="NAnt"/>
			</ClassBrowser>
		</Project>
		<!-- OCRA Project -->
		<Project Name="OCRA">
			<Details 
				FullName="OCRA"
				Description="Orca is a tool useful for plotting arbitrary data from text files onto a directory on a Web server."
				/>
			<Links Category="Quick Links">
				<Link Name="Home Page" Url="http://www.orcaware.com/orca/"/>
				<Link Name="Examples" Url="http://www.orcaware.com/orca/example_sites.html"/>
			</Links>
			<Repository 
				Type="SVN"
				Connection="uri=http://svn.orcaware.com:8000/repos/trunk/orca/"
			/>
			<ClassBrowser/>
		</Project>
		<!-- .net nuke project -->
		<Project Name="DotNetNuke">
			<Details
				FullName=".net nuke"
				Description="DotNetNuke is an automated content management system specifically designed to be used in Intranet and Internet deployments."
			/>
			<Links Category="Quick Links">
				<Link Name="Home Page" Url="http://www.dotnetnuke.com/DesktopDefault.aspx"/>
				<Link Name="GotDotNet Workspace Page" Url="http://workspaces.gotdotnet.com/dotnetnuke"/>
				<Link Name="DotNetNuke Gear" Url="http://www.cafeshops.com/dotnetnuke"/>
			</Links>
			<Repository 
				Type="Workspace"
				Connection="guid=15a33c40-46b7-45ac-b0a7-03ee52e72d5d"
			/>
		</Project>
		
				<!--
		My Projects 
		<RepositoryType Name="Vault" Type="SharpRepositoryLib.Vault.VaultRepository, SharpRepositoryLib.Vault" />
	
		<Project Name="AppServer">
			<Details
				FullName="Application Server"
				Description="Remoting, Web, and FTP Application Server"
			/>
			<Repository 
				Type="SVN"
				Connection="uri=http://hackdaddy:8080/svn/appserver;uid=admin;pwd=primus"
			/>
			<ClassBrowser/>
		</Project>
		<Project Name="NPS2"> 
			<Details
				FullName="NPS Platform"
				Description="Platform supporting PaySpan and theImageplace.com products"
			/>
			<Links Category="Quick Links">
				<Link Name="Dev Home Page" Url="http://vpdev-web/dev/default.aspx"/>
			</Links>
			<Links Category="Web Applications">
				<Link Name="PaySpan Payer Site" Url="http://vpdev-web/nps/login.aspx"/>
				<Link Name="PaySpan Payee Site" Url="http://10.10.10.41/"/>
				<Link Name="PaySpan JMS Site" Url="http://vpdev-web/jms/index.aspx"/>
			</Links>
			<Links Category="Tools">
				<Link Name="Event Explorer" Url="http://vpdev-web/eventexplorer/default.aspx"/>
				<Link Name="Payer LPJ Upload" Url="http://vpdev-web/ws-payspan/lpjupload.aspx"/>
			</Links>
			<Repository 
				Type="CVS"
				Connection="cvsroot=:pserver:britchie@linuxdaddy:/usr/local/cvs;module=nps2;pwd=asdf;loadall=true"
			/>
			<Builds
				LogPath="c:\myprojects\nps\builds"
			/>
			<Database
				Name="JobSystem"
				Type="SqlServer"
				Connection="server=vpdev-db1;database=pfcjobsystem;uid=www;pwd=www;"
			/>
			<Database
				Name="Security"
				Type="SqlServer"
				Connection="server=vpdev-db1;database=pfcsecurity;uid=www;pwd=www;"
			/>
			<Database
				Name="Test"
				Type="MySql"
				Connection="server=127.0.0.1;Database=test;User ID=root;Password="
			/>
			<ClassBrowser AssemblyPath="C:\MyProjects\NPS\assembly-cache">
				<Namespace name="Payformance"/>
			</ClassBrowser>
			<Documentation
				Name="NPS"
				RelativeBasePath="NPSDocs/NPS%20Documentation/"
				TOCPath="whxdata/whtdata0.xml"
				Kind="RoboHelp"
			/>
			<Documentation
				Name="Job Submission Module"
				RelativeBasePath="NPSDocs/Job%20Submission%20Module%20Help/"
				TOCPath="whxdata/whtdata0.xml"
				Kind="RoboHelp"
			/>
			<Documentation
				Name="Report Designer"
				RelativeBasePath="NPSDocs/NPS%20Report%20Designer%20Help/"
				TOCPath="whxdata/whtdata0.xml"
				Kind="RoboHelp"
			/>
		</Project> 
		-->
		
		<!-- Sample Projects -->
		
		<!--		
		<Project Name="Vault Demo">
			<Details
				FullName="Vault Demo"
				Description="Demo of the Vault Repository Browser"
			/>
			<Repository 
					Type="Vault"
					Connection="repository=Default Repository;uri=http://vaultdemo.sourcegear.com;uid=hackdaddy;pwd=bob"
				/>
		</Project>

		<Project Name="SharpDevelop">
			<Repository Type="SVN">uri=http://svn.sharpwt.net/Fidalgo/trunk/</Repository>
		</Project>
		<Project Name="Mono MCS">
			<Repository Type="CVS">cvsroot=:pserver:anonymous@anoncvs.go-mono.com:/mono;module=mcs</Repository>
		</Project>
		<Project Name="LDAP CSharp" Repository="CVS">
			<Repository Type="CVS">cvsroot=:pserver:anonymous@forgecvs1.novell.com:/cvsroot/ldapcsharp;module=ldapcsharp</Repository>
		</Project>
		<Project Name="RegexDesigner" Repository="Workspace">
			<Repository Type="Workspace">guid=01e0dfb7-0182-45cd-94f7-2ed2df2504a9</Repository>
		</Project>
		<Project Name="nGallery" Repository="Workspace">
			<Repository Type="Workspace">guid=7adcc4ca-95d8-46bb-bb24-1e4b9eacb858</Repository>
		</Project>
		<Project Name=".Text" Repository="Workspace">
			<Repository Type="Workspace">guid=E99FCCB3-1A8C-42B5-90EE-348F6B77C407</Repository>
		</Project>		-->

	</DevCenter>  
	     
  <system.web>

    <!--  DYNAMIC DEBUG COMPILATION 
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation 
         defaultLanguage="c#"  
         debug="true"
    />

    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors 
    mode="Off" 
    /> 

    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="None" /> 

    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />

    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState 
            mode="InProc"
            cookieless="false" 
            timeout="20" 
    />

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />
   
 </system.web>

</configuration>
